[submodule "home/arcturus/dev_ws/src/ros2-keyboard"]
	path = home/arcturus/dev_ws/src/ros2-keyboard
	url = git@github.com:ArcturusNavigation/ros2-keyboard.git
[submodule "home/arcturus/dev_ws/src/all_seaing_boat"]
	path = home/arcturus/dev_ws/src/all_seaing_boat
	url = https://github.com/ArcturusNavigation/all_seaing_boat
