[submodule "home/arcturus/vrx_ws/src/vrx"]
	path = home/arcturus/vrx_ws/src/vrx
	url = git@github.com:ArcturusNavigation/vrx.git
[submodule "home/arcturus/dev_ws/src/ros2-keyboard"]
	path = home/arcturus/dev_ws/src/ros2-keyboard
	url = git@github.com:ArcturusNavigation/ros2-keyboard.git
