[submodule "home/dev_ws/src/all_seaing_vehicle"]
	path = home/dev_ws/src/all_seaing_vehicle
	url = git@github.com:ArcturusNavigation/all_seaing_vehicle.git
	branch = main
[submodule "home/dev_ws/src/ros2-keyboard"]
	path = home/dev_ws/src/ros2-keyboard
	url = git@github.com:cmower/ros2-keyboard.git
[submodule "home/dev_ws/src/robot_localization"]
	path = home/dev_ws/src/robot_localization
	url = git@github.com:cra-ros-pkg/robot_localization.git
[submodule "home/vrx_ws/src/vrx"]
	path = home/vrx_ws/src/vrx
	url = git@github.com:ArcturusNavigation/vrx.git
